form {
    max-width: 90%;
    margin: 0 auto;
}

.price {
    text-align: center
}

.price__new {
    color: #ff0000;
    font-weight: 700;
    font-size: 28px
}

.price__old {
    color: #333;
}

@media (min-width: 375px) {
    .price__new {
        font-size: 38px
    }
}

@media (min-width: 768px) {

    .offer-form__price {
        position: static;
        top: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin: 0 0 20px;
    }

    .price__new {
        font-size: 44px
    }
}

.price__old {
    text-decoration: line-through;
    font-weight: 600;
    font-size: 22px;
    opacity: .75
}

@media (min-width: 375px) {
    .price__old {
        font-size: 28px
    }
}
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}
@media (min-width: 768px) {
    .price__old {
        font-size: 34px
    }
}

@media(max-width: 767px) {
    .mdspost-entry__aside {
        display: none;
    }

    .offer-form__price {

        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        flex-direction: row-reverse;
        }

        h3 {
            line-height: 30px;
        }
}
