@charset 'UTF-8';
/* Slider */
.slick-loading .tuvgddihoeex
{
    background: #fff url("") center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url("");
    src: url("slick.eot#iefix") format('embedded-opentype'), url("slick.woff") format('woff'), url("slick.ttf") format('truetype'), url("slick.svg#slick") format('svg');
}
/* Arrows */
.uregtktvjvvvh,
.ikeoltvwsxqrud
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 66%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.uregtktvjvvvh:hover,
.uregtktvjvvvh:focus,
.ikeoltvwsxqrud:hover,
.ikeoltvwsxqrud:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.uregtktvjvvvh:hover:before,
.uregtktvjvvvh:focus:before,
.ikeoltvwsxqrud:hover:before,
.ikeoltvwsxqrud:focus:before
{
    opacity: 1;
}
.uregtktvjvvvh.slick-disabled:before,
.ikeoltvwsxqrud.slick-disabled:before
{
    opacity: .25;
}

.uregtktvjvvvh:before,
.ikeoltvwsxqrud:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uregtktvjvvvh
{
    left: -25px;
}
[dir='rtl'] .uregtktvjvvvh
{
    right: -25px;
    left: auto;
}
.uregtktvjvvvh:before
{
    content: '←';
}
[dir='rtl'] .uregtktvjvvvh:before
{
    content: '→';
}

.ikeoltvwsxqrud
{
    right: -25px;
}
[dir='rtl'] .ikeoltvwsxqrud
{
    right: auto;
    left: -25px;
}
.ikeoltvwsxqrud:before
{
    content: '→';
}
[dir='rtl'] .ikeoltvwsxqrud:before
{
    content: '←';
}

/* Dots */
.slick-dotted.svcsyalyczo
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.cyekejqdfkaw button:before
{
    opacity: .75;
    color: black;
}
