@import "css.css" screen;
@import "css-1.css" screen;

@-webkit-keyframes pm-fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes pm-fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}


#pm-popup.pm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 130000;
}

#pm-popup .pm-popup-block {
    overflow-y: auto;
    position: relative;
    z-index: 10000;
    max-height: 100%;
    height: 100%;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pm-fadeInUp;
    animation-name: pm-fadeInUp;
}

#pm-popup .pm-popup-pre {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: table;
}

#pm-popup .pm-popup-wrapp {
    display: table-cell;
    vertical-align: middle;
}

#pm-popup .pm-popup-inner {
    border-radius: 2px;
    box-shadow: 0 0 3px 2px rgba(42,42,69,.23);
    background-color: #fff;
    max-width: 360px;
    position: relative;
    z-index: 10000;
}

#pm-popup .pm-popup-header {
    box-sizing: border-box;
    height: 130px;
    padding-top: 36px;
    text-align: center;
}

#pm-popup .pm-popup-content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Roboto,Lato,Arial,Helvetica,sans-serif;
    padding: 0 48px 43px;
}

#pm-popup .pm-popup-close {
    position: absolute;
    opacity: .8;
    right: -39px;
    top: 3px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("") no-repeat;
    background-size: contain!important;
    z-index: 10005;
}

#pm-popup .pm-popup-logo {
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    width: 72px;
    height: 72px;
}

#pm-popup .pm-popup-img {
    background-color: #E5E5E5;
    border-radius: 3px;
    overflow: hidden;
    width: 72px!important;
    height: 72px!important;
    max-width: 72px!important;
    max-height: 72px!important;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 7px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
}

#pm-popup .pm-popup-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#pm-popup .pm-popup-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

#pm-popup .pm-popup-button {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 2px;
    padding: 0 35px;
    height: 56px;
    line-height: 52px;
    font-size: 16px;
    color: #212121;
    text-transform: uppercase;
    cursor: pointer;
}

#pm-popup .pm-popup-fade {
    background-color: rgba(33,33,33,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9100;
}

#pm-confirm-widget {
    width: 322px;
    position: fixed;
    z-index: 999999999;
    top: 10px;
    background-color: #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.57);
    color: #000 !important;
    text-align: left !important;
    padding-bottom: 7px !important;
}

.pm-confirm-left {
    left: 105px;
}

.pm-confirm-right {
    right: 105px;
}

.pm-confirm-center {
    left: 50%;
    margin-left: -200px;
}

.pm-ru-block {
    width: 400px !important;
}

#site-logo-popup {
    float: left;
    position: relative;
    margin: 0px 9px 0px 4px !important;
    padding: 0 !important;
    display: inline-block;
}

#site-logo-popup img {
    height: 65px !important;
    width: 65px !important;
    margin-top: 8px;
}

#pm-confirm-title {
    margin-left: 12px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    padding-top: 11px;
    line-height: 20px !important;
}

#pm-confirm-text {
    font-size: 12px !important;
    line-height: 1.4em !important;
    margin: 5px 0 5px 78px!important;
    padding: 0 !important;
    text-align: left !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #7c7c7c !important;
}


#pm-powered {
    float: left;
    font-size: 10px;
    margin-top: 10px;
    font-family: Arial !important;
    line-height: 1.2em !important;
    margin-left: 11px !important;
}

#pm-powered span {
    vertical-align: 3px;
}

#pm-powered span>a {
    text-decoration: none !important;
    color: black !important;
    font-size: 10px !important;
    line-height: 19px !important;
    font-weight: normal !important;
}

    #pm-powered span > a:hover,
    #pm-powered span > a:focus {
        text-decoration: none !important;
        background-color: transparent !important;
        color: black !important;

    }
    #pm-powered a:hover,
    #pm-powered a:focus {
        text-decoration: none !important;
        background-color: transparent !important;
        color: black !important;
    }

#pm-powered img {
    vertical-align: bottom !important;
    width: 61px !important;
    height: 19px !important;
    padding-right: 2px !important;
    display: inline-block !important;
    margin: 0px !important;
}

#pm-confirm-buttons {
    margin-top: 6px;
    position: relative;
    width: 164px;
    float: right;
    font-family: Arial;
    font-size: 12px;
}
.pm-confirm-buttons-ru {
    width: 230px !important;
}

#pm-confirm-block-button {
    margin-left: 10px;
    position: relative;
    float: left;
}
.pm-confirm-button {
    background-color: white;
    border: 1px solid #a09797;
    border-radius: 3px;
    padding: 3px 16px 3px 16px;
    background-color: #f7f7f7;
    cursor: pointer;
    line-height: 23px;
}

#pm-confirm-allow-button {
    position: relative;
    float: left;
    margin-left: 11px;
    cursor: pointer;
    background-color: #ffd500;
}
.pm-confirm-button {
    background-color: white;
    border: 1px solid #a09797;
    border-radius: 3px;
    padding: 3px 16px 3px 16px;
    background-color: #f7f7f7;
    cursor: pointer;
}


@-webkit-keyframes pm-tada {
    0%,100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    10%,20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }

    40%,60%,80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }
}

@keyframes pm-tada {
    0%,100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    10%,20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }

    40%,60%,80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }
}


#pm-label.pm-label {
    margin: -0 0 0;
    border: 0;
    background-color: transparent;
    transition: background-color,color .2s ease-in;
    box-shadow: 0 1px 3px 0 rgba(34,28,5,.4);
    /*position: fixed;
    top: 50%;*/
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
}

#pm-label.pm-label {
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

#pm-label.pm-label {
    position: relative;
}

#pm-label.pm-label--left {
    float: left;
}

#pm-label.pm-label--yellow {
    color: #212121;
    background-color: #fdd95b;
}

#pm-label.pm-label::after, #pm-label.pm-label::before {
    position: absolute;
    content: '';
}

#pm-label.pm-label::before {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pm-tada;
    animation-name: pm-tada;
    top: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-size: contain!important;
    background: url("") no-repeat;
    z-index: 5;
}

#pm-label.pm-label--white::before {
    top: 16px;
    left: 16px;
}

#pm-label.pm-label--white {
    color: #212121;
    background-color: #fff;
    border: 2px solid #212121;
    line-height: 52px;
}

#pm-label.pm-label--black {
    color: #fff;
    background-color: #212121;
}

#pm-label.pm-label--black:before {
    background: url("") no-repeat;
}


#pm-label.pm-label--right {
    float: right;
}

#pm-confirm-widget a {
    display: inline !important;
}

.pm-label:hover::before {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pm-tada;
    animation-name: pm-tada;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}


.pm-button--circle::after, .pm-button--text::after, .pm-button::before {
    content: '';
}
.pm-button {
    margin: 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-transition: background-color,color .2s ease-in;
    transition: background-color,color .2s ease-in;
    position: relative;
    height: 56px;
    line-height: 56px;
}
.pm-button, .pm-button--circle.pm-button--active, .pm-button--circle:hover {
    box-shadow: 0 1px 3px 0 rgba(34,28,5,.4);
}
.pm-button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pm-button {
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.pm-button--text {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pm-button--yellow {
    color: #212121;
    background-color: #fdd95b;
}

.pm-button--text {
    display: inline-block;
    padding-left: 53px;
    padding-right: 18px;
}

.pm-button--text, .pm-button--text::after {
    border-radius: 3px;
}

.pm-button::before {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: pm-tada;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-size: contain!important;
    background: url("") no-repeat;
    z-index: 5;
}

.pm-button--black:before {
    background: url("") no-repeat;
}

.pm-button::before {
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: pm-tada
}

.pm-button:hover::before {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pm-tada;
    animation-name: pm-tada;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.pm-button--black {
    color: #fff;
    background-color: #212121;
}

.pm-button--white {
    color: #212121;
    background-color: #fff;
    border: 2px solid #212121;
    line-height: 52px;
}

.pm-button--white::before {
    top: 16px;
    left: 16px;
}

.pm-button--circle {
    width: 56px;
    text-align: center;
    text-indent: -9999px;
}

.pm-button--circle, .pm-button--circle::after {
    border-radius: 100%;
}
/*Контейнер для вывода кнопок подписки*/
.push_notification_popup
{

}
.push_notification_popup--left
{
    position: absolute;
    float: left;
    top: 16px;
    left: 16px;
}
.push_notification_popup--right
{
    position: absolute;
    float: right;
    top: 16px;
    right: 16px;

}
.push_notification_popup--bottom-left{
    position: absolute;
    float: left;
    bottom: 16px;
    left: 16px;
}
.push_notification_popup--bottom-right{
    position: absolute;
    float: right;
    bottom: 16px;
    right: 16px;
}
.pm-button
{   display: none;
}

@media (max-width: 530px) {
    .pm-confirm-left {
        left: 3px;
    }
    .pm-confirm-right {
        right: 3px;
    }
}

@media(max-width:450px) {
    #pm-confirm-widget {
        width: 98% !important;
    }
    #pm-confirm-widget #pm-powered span {
        display: none;
    }
}

.v2-pm-popup-overlay {
    display: block !important;
    position: fixed !important;
    z-index: 1000000 !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
	background: rgba(0, 0, 0, 0.5) !important;
}
.v2-pm-popup-content {
    font-family: 'arial',arial !important;
    font-weight: 400 !important;
    color: #000000 !important;
    font-size: 14px !important;
    display: block !important;
    width: 720px !important;
    height: 360px !important;
    left: 50% !important;
    top: 50% !important;
    position: fixed !important;
    z-index: 1000001 !important;
    text-align: left !important;
    box-shadow: 0px 5px 20px -2px #202020 !important;
    transform: translate(-50%, -50%) scale(1) !important;
    background-color: #ffffff !important;
}

.v2-pm-popup-img {
    float: left !important;
    width: 50% !important;
    height: 100% !important;
}

.v2-pm-popup-img img{
    text-align: left !important;
    font-family: 'arial',arial !important;
    font-weight: 400 !important;
    color: #000000 !important;
    font-size: 14px !important;
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    height: 100% !important;
    vertical-align: bottom !important;
}
.v2-pm-popup-title {
    border-radius: 0px !important;
    z-index: 1000004 !important;
    text-align: left !important;
    padding: 0px 0px !important;
    font-family: 'Raleway',arial !important;
    font-weight: 700 !important;
    color: #000000 !important;
    font-size: 32px !important;
    margin: 45px 15px 15px 390px !important;
    line-height: 1.22857143 !important;
}
.v2-pm-popup-text {
    border-radius: 0px !important;
    z-index: 1000005 !important;
    text-align: left !important;
    padding: 0px 0px !important;
    font-family: 'Raleway',arial !important;
    font-weight: 400 !important;
    color: #000000 !important;
    font-size: 14px !important;
    margin: 15px 15px 15px 390px !important;
    line-height: 1.42857143 !important;
}
.v2-pm-popup__button {
    background: #000000 !important;
    border: 1px solid #000000 !important;
    right: 20px !important;
    top: 290px !important;
    border-radius: 0px !important;
    z-index: 1000007 !important;
    text-align: center !important;
    padding: 0px 0px !important;
    font-family: 'Raleway',arial !important;
    font-weight: 700 !important;
    color: #FFF !important;
    font-size: 16px !important;
    width: 145px !important;
    height: 35px !important;
    position: absolute !important;
    line-height: 35px !important;
    cursor: pointer !important
}
.v2-pm-popup-close {
    right: 15px !important;
    top: -10px !important;
    border-radius: 0px !important;
    z-index: 1000008 !important;
    text-align: left !important;
    padding: 0px 0px !important;
    font-family: 'Raleway',arial !important;
    font-weight: 100 !important;
    color: #000000 !important;
    font-size: 56px !important;
    position: absolute !important;
    line-height: 1.42857143 !important;
}
a.v2-pm-popup__close {
    cursor: pointer !important;
    line-height: 1.42857143 !important;
}

@media (max-width: 760px) {
    .v2-pm-popup-content {
        width: 95% !important;
    }
    .v2-pm-popup-img {
        display: none !important;
    }
    .v2-pm-popup-title {
        margin-left: 15px !important;
        text-align: center !important;
    }
    .v2-pm-popup-text {
        margin-left: 15px !important;
        text-align: center !important;
    }
}


.v2-pm-confirm {
  max-width: 228px;
  padding: 10px 25px;
}
.v2-pm-confirm:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm {
    max-width: 400px;
    padding: 10px 10px 10px 146px;
  }
}
.v2-pm-confirm__aside {
  color: #3c3c3c;
  font-size: 12px !important;
  line-height: 1.2;
  text-align: center;
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__aside {
    float: left;
    width: 136px;
    margin-left: -146px;
  }
}
.v2-pm-confirm__image {
  display: block;
  max-width: 98px;
  margin: 0 auto 6px;
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__image {
    min-width: 119px !important;
    max-width: 119px !important;
    height: 119px !important;
  }
}
.v2-pm-confirm__link {
  color: #7d7d7d !important;
  text-decoration: underline !important;
  font-size: 12px !important
}
.v2-pm-confirm__link:hover {
  text-decoration: none;
}
.v2-pm-confirm__title {
  clear: initial;
  margin: 0 0 8px;
  padding: 5px 0 0;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 700;
  font-weight: 900;
  line-height: 1.1;
  font-family: 'Open Sans','Lato', 'Arial', 'sans-serif' !important;
  background-color: transparent !important;
  border:none !important
}
.v2-pm-confirm__desc {
  display: block;
  margin: 0 0 10px;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Lato', 'Arial', 'sans-serif' !important;

}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__desc {
    margin: 0 0 30px;
  }
}
.v2-pm-confirm__controls {
  font-size: 0;
  bottom: 9px;
  position: absolute;
  width: 244px;
}
@media only screen and (max-width: 500px) {
  .v2-pm-confirm__controls {
  position: inherit;
  width: auto;
}
}
.v2-pm-confirm__control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 12px !important;
  color: #fff;
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase;
  border: 0px solid #ababab;
  outline: 0 none;
  background: #ababab;
  -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
          transition: color 0.2s ease-in, background 0.2s ease-in;
}
.v2-pm-confirm__control:hover {
  opacity: 0.7;
}
.v2-pm-confirm__control--width_full {
  width: 100% !important;
}
.v2-pm-confirm__control--style_primary {
  border-color: #17b9c7;
  background: #17b9c7;
}
.v2-pm-confirm__control-item {
  padding: 0 0 10px;
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__control-item {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 0 0 4px;
  }
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__control-item:first-child {
    padding: 0 4px 0 0;
  }
}
.v2-pm-confirm__copyright {
  display: block;
  color: #3c3c3c;
  font-size: 12px;
  line-height: 1.2;
}
.v2-pm-confirm__copyright--type_mobile {
  display: block;
  text-align: center;
  font-family: inherit !important;
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__copyright--type_mobile {
    display: none;
  }
}
.v2-pm-confirm__copyright--type_desktop {
  display: none;
    font-family: inherit !important;
}
@media only screen and (min-width: 500px) {
  .v2-pm-confirm__copyright--type_desktop {
    display: block;
  }
}






.v2-pm-confirm-left {
    left: 105px;
}

.v2-pm-confirm-right {
    right: 105px;
}

.v2-pm-confirm-center {
    left: 50%;
    margin-left: -200px;
}

@media (max-width: 500px) {
    .v2-pm-confirm-left {
        left: 3px;
    }
    .v2-pm-confirm-right {
        right: 3px;
    }
}

#pm-confirm-widget.v2-pm-confirm__container {
    width: 400px;
    padding-bottom: 0px !important;
    background: #fff !important;
    font-family: 'Open Sans','Lato', 'Arial', 'sans-serif' !important;
    letter-spacing: 0 !important;
}

@media (max-width: 500px) {
    #pm-confirm-widget.v2-pm-confirm__container {
    width: 228px !important;
    left: 50%;
    margin-left: -114px;
}
}


.v2-pm-confirm__control {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.v2-pm-confirm__control-item{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

#pm-confirm-block-button.v2-pm-confirm__control {
    margin: 0 !important;
    float: none;
    display: block !important;
    font-family: inherit !important;
    border-radius: 0px !important;
    border: none !important;
    text-shadow: none !important;
    height: auto !important;
    -moz-word-break: normal !important;
    -o-word-break: normal !important;
    word-break: normal !important;
}

.v2-pm-confirm__control.pushsender-btn-close {
    background: #ababab !important;
    color: #fff !important;

}

#pm-confirm-allow-button.v2-pm-confirm__control {
    margin-left: 0;
    float: none;
    display: block !important;
    font-family: inherit !important;
    -moz-word-break: normal !important;
    -o-word-break: normal !important;
    word-break: normal !important;
    word-wrap: initial !important;
}

#pm-confirm-allow-button.v2-pm-confirm__control:hover {
    text-decoration: none !important;
}


.pm-designer__overlay {
    display: block !important;
    position: fixed !important;
    z-index: 1000000 !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
	background: rgba(0, 0, 0, 0.5) !important;
}

.pm-designer {
  width: 228px !important;
  padding: 0 25px 10px !important;
  /*left: 50% !important;*/
    top: 10px !important;
    position: fixed !important;
    z-index: 1000001 !important;
    text-align: left !important;
    /*transform: translate(-50%, -50%) scale(1) !important;*/
    background: #f9f9f9 !important;
    color: #444 !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-sizing: border-box !important;
}
.pm-designer__illustration {
  position: relative !important;
  margin: 0 -25px !important;
  background: #195b61 !important;
}
.pm-designer__illustration-image {
  display: block !important;
  max-width: 100% !important;
  margin: 0 auto !important;
}
.pm-designer__image {
  position: relative !important;
  display: block !important;
  max-width: 98px !important;
  margin: -49px auto 15px !important;
  border: 2px solid rgba(0,0,0,0) !important;
}
.pm-designer__title {
  margin: 0 0 5px !important;
  color: #3c3c3c !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  font-family: 'Open Sans','Lato', 'Arial', sans-serif !important;
    text-transform: none !important;
    text-align: center !important;
}
.pm-designer__desc {
  margin: 0 0 20px !important;
  color: #7d7d7d !important;
  font-size: 12px !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans','Lato', 'Arial', sans-serif !important;
    text-align: center !important;
}
.pm-designer__controls {
  margin: 0 0 28px !important;
}
.pm-designer__control {
  position: relative !important;
  display: inline-block !important;
  vertical-align: middle !important;
  padding: 7px 10px !important;
  color: #fff;
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  border: 2px solid #17b9c7;
  outline: 0 none !important;
  background: #17b9c7;
  -webkit-transition: color 0.2s ease-in, background 0.2s ease-in !important;
          transition: color 0.2s ease-in, background 0.2s ease-in !important;
  font-family: 'Open Sans','Lato', 'Arial', sans-serif !important;
    box-sizing: border-box !important;
    cursor: pointer; 
}
.pm-designer__control:hover {
  opacity: 0.7 !important;
    text-decoration: none !important;
    color: #fff !important;
}
.pm-designer__control--width_full {
  width: 100% !important;
}
.pm-designer__control--type_light {
  color: #a6a6a6 !important;
  background: transparent !important;
  border-color: #d7d7d7 !important;
}
.pm-designer__control--type_light:hover {
  color: #a6a6a6 !important;
}

.pm-designer__control--style_primary {
  border-color: #13ab98 !important;
  background: #13ab98 !important;
}
.pm-designer__control--style_secondary {
  border-color: #ff036b !important;
  background: #ff036b !important;
}
.pm-designer__control-item {
  margin: 0 0 8px !important;
}
.pm-designer__footer {
  margin: 0 -25px !important;
  padding: 13px 0 !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.2 !important;
  border-top: 1px solid #ebebeb !important;
    font-family: 'Open Sans', 'Lato', 'Arial', sans-serif !important
}
.pm-designer__link {
  color: #7d7d7d !important;
  text-decoration: underline !important;
  font-family: 'Open Sans','Lato', 'Arial', sans-serif !important;
}
.pm-designer__link:hover {
  text-decoration: none !important;
}


.pm-designer__left {
    left: 105px !important;
}
.pm-designer__right {
    right: 105px !important;
}
.pm-designer__center {
    left: 50% !important;
    margin-left: -114px !important;
}

@media (max-width: 500px) {
    .pm-designer__left {
        left: 50% !important;
        margin-left: -114px !important;
    }
    .pm-designer__right {
        left: 50% !important;
        margin-left: -114px !important;
    }
}

.v2-pm-popup-text-info {
border-radius: 0px !important;
z-index: 1000005 !important;
text-align: center;
padding: 0px 0px !important;
font-family: 'Raleway',arial !important;
font-weight: 400 !important;
color: #f7f7f9 !important;
font-size: 24px !important;
line-height: 1.42857143 !important;
}

.v2-pm-popup-content-info {
font-family: 'arial',arial !important;
font-weight: 400 !important;
color: #000000 !important;
font-size: 14px !important;
display: block !important;
left: 50% !important;
top: 50% !important;
position: fixed !important;
z-index: 1000001 !important;
transform: translate(-50%, -50%) scale(1) !important;
}

















.logoLetter
{	background: #FFD600;
    padding: 3px 7px 6px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
}
.pm-webpush-label .pm-copyright-link,.pm-webpush-label .pm-inner-content {
    font-weight: 700;
/*    text-shadow: -2px 0 rgba(0,0,0,.1),0 2px rgba(0,0,0,.1),2px 0 rgba(0,0,0,.1),0 -2px rgba(0,0,0,.1);*/
    font-family: 'Open Sans',Arial,sans-serif
}

.pm-webpush-label {
    border-radius: 50%;
    width: 896px;
    height: 216px;
    position: fixed;
    top: -85px;
    left: -190px;
    z-index: 100001;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-left: 22px;
    transition-duration: .25s;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    opacity: 0
}

.pm-webpush-label.pm-show {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}


.pmbackInfoDiv:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-filter: blur(100px);
	-moz-filter: blur(100px);
       -o-filter: blur(100px);
      -ms-filter: blur(100px);
          filter: blur(100px);
    background-color: rgba(0,0,0,.3);
}
.pm-webpush-label:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0;
    top: 0;
    -webkit-filter: blur(100px);
	-moz-filter: blur(100px);
       -o-filter: blur(100px);
      -ms-filter: blur(100px);
          filter: blur(100px);
    background-color: rgba(0,0,0,.3);
}

.pm-yandex .pm-webpush-label .pm-webpush-label:after
{    height: 150%!important;
}


.pm-webpush-label .pm-inner-content {
    position: absolute;
    right: 80px;
    top: calc(100px);
    white-space: nowrap;
    font-size: 13px;
    color: #000;
    line-height: 15px;
    -webkit-filter: blur(0);
    filter: blur(0);
    z-index: 10;
    width: 165px!important;

}

.pm-webpush-label .pm-copyright-link {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 0px;
    top: -1px
}

.pm-webpush-label .pm-copyright-link:hover {
    text-decoration: none
}

.pm-webpush-label .pm-copyright-link:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    margin: -10px 0 0
}

.pm-webpush-label.pm-windows.pm-firefox {
    max-width: 100%;
    width: 100%;
    left: 0px;
}

.pm-webpush-label.pm-windows.pm-firefox:after {
    max-width: 896px
}

.pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
    right: auto;
    left: 654px
}

@media (max-width: 1140px) {
    .pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
        left:645px
    }
}

@media (max-width: 1080px) {
    .pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
        left:calc(23.7% + 384px)
    }
}

@media (max-width: 978px) {
    .pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
        left:calc(25% + 384px)
    }
}

@media (max-width: 860px) {
    .pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
        left:calc(23.5% + 384px)
    }
}

@media (max-width: 768px) {
    .pm-webpush-label.pm-windows.pm-firefox.initialized {
        display:none!important
    }
}

.pm-webpush-label.pm-windows.pm-opera {

    left: auto;
    right: 0
}

.pm-webpush-label.pm-windows.pm-opera .pm-inner-content {
    right: 16px
}


.pm-webpush-label.pm-windows.pm-opera.pm-base-lang {
    margin-left: 0;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pm-webpush-label.pm-windows.pm-opera.pm-base-lang .pm-inner-content {
    right: 0
}


.pm-webpush-label.pm-windows.pm-yandex {
    left: auto;
    right: -160px;
    margin: 0;
}

.pm-webpush-label.pm-windows.pm-yandex .pm-inner-content {
    right: auto;
    left: 85px
}

.pm-webpush-label.pm-linux.pm-firefox {
    max-width: 100%;
    width: 100%;
    left: -22px;
}

.pm-webpush-label.pm-linux.pm-firefox:after {
    max-width: 896px
}

.pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
    right: auto;
    left: 716px
}

@media (max-width: 1540px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:710px
    }
}

@media (max-width: 1450px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(18% + 450px)
    }
}

@media (max-width: 1270px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(19% + 450px)
    }
}

@media (max-width: 1024px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(20% + 450px)
    }
}

@media (max-width: 940px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(21% + 450px)
    }
}

@media (max-width: 860px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(20% + 450px)
    }
}

@media (max-width: 805px) {
    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content {
        left:calc(14% + 450px)
    }
}

@media (max-width: 768px) {
    .pm-webpush-label.pm-linux.pm-firefox.initialized {
        display:none!important
    }
}

.pm-webpush-label.pm-linux.pm-opera {

    left: auto;
    right: 0
}

.pm-webpush-label.pm-linux.pm-opera .pm-inner-content {
    right: 16px
}



.pm-webpush-label.pm-linux.pm-opera.pm-base-lang {
    margin-left: 16px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pm-webpush-label.pm-linux.pm-opera.pm-base-lang .pm-inner-content {
    right: 0;
    margin-right: -18px
}

.pm-webpush-label.pm-linux.pm-yandex {
    left: auto;
    right: -160px;
    margin: 0;
}

.pm-webpush-label.pm-linux.pm-yandex .pm-inner-content {
    right: auto;
    left: 106px
}


.pm-webpush-label.pm-macos.pm-firefox {
    left: 0;
}

.pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
    right: auto;
    left: 616px
}

@media (max-width: 1240px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:611px
    }
}

@media (max-width: 1180px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:602px
    }
}

@media (max-width: 1140px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:596px
    }
}

@media (max-width: 1060px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:585px
    }
}

@media (max-width: 998px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:576px
    }
}

@media (max-width: 896px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:562px
    }
}

@media (max-width: 816px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:552px
    }
}

@media (max-width: 760px) {
    .pm-webpush-label.pm-macos.pm-firefox .pm-inner-content {
        left:542px
    }
}



.pm-webpush-label.pm-macos.pm-opera {

    left: auto;
    right: 0
}

.pm-webpush-label.pm-macos.pm-opera .pm-inner-content {
    right: 16px
}

.pm-webpush-label.pm-macos.pm-opera.pm-base-lang{
    margin-left: 16px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pm-webpush-label.pm-macos.pm-opera.pm-base-lang .pm-inner-content {
    right: 10.5%
}

@media (max-width: 1380px) {
.pm-webpush-label.pm-macos.pm-opera.pm-base-lang .pm-inner-content{
        right:10%
    }
}

.pm-webpush-label.pm-macos.pm-yandex {
    left: auto;
    right: -160px;
    margin: 0;
}

.pm-webpush-label.pm-macos.pm-yandex .pm-inner-content {
    right: auto;
    left: 94px
}

@media (max-width: 860px) {
    .pm-webpush-label.pm-linux.pm-firefox,.pm-webpush-label.pm-windows.pm-firefox {
        max-width:100%;
        left: 0
    }

    .pm-webpush-label.pm-linux.pm-firefox .pm-inner-content,.pm-webpush-label.pm-windows.pm-firefox .pm-inner-content {
        font-size: 0;
        color: transparent;
        letter-spacing: -.36em;
        right: 62px
    }

    .pm-webpush-label.pm-linux.pm-firefox .pm-copyright-link,.pm-webpush-label.pm-windows.pm-firefox .pm-copyright-link {
        font-size: 11px;
        letter-spacing: normal;
        color: #000
    }

    .pm-webpush-label.pm-linux.pm-opera,.pm-webpush-label.pm-windows.pm-opera {
        max-width: 100%;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .pm-webpush-label.pm-linux.pm-opera .pm-inner-content,.pm-webpush-label.pm-windows.pm-opera .pm-inner-content {
        font-size: 0;
        color: transparent;
        letter-spacing: -.36em;
        right: 40px
    }

    .pm-webpush-label.pm-linux.pm-opera .pm-copyright-link,.pm-webpush-label.pm-windows.pm-opera .pm-copyright-link {
        font-size: 11px;
        letter-spacing: normal;
        color: #000
    }
}

.pm-bottom-push-label,.pm-bottom-push-label .pm-copyright-link {
    font-weight: 700;
/*    text-shadow: -2px 0 rgba(0,0,0,.1),0 2px rgba(0,0,0,.1),2px 0 rgba(0,0,0,.1),0 -2px rgba(0,0,0,.1);*/
    font-size: 13px;
    line-height: 15px;
    font-family: 'Segoe UI','Open Sans',Ubuntu,'Dejavu Sans',Helvetica,'Helvetica Neue',Arial,sans-serif
}

@media (max-width: 768px) {
    .pm-webpush-label {
        display:none!important;
        z-index: -10!important;
        visibility: hidden!important;
        opacity: 0!important
    }
}

.pm-bottom-push-label {
    position: absolute;
    left: 50%;
    bottom: 30px;
    white-space: nowrap;
    color: #000;
    -webkit-filter: blur(0);
    filter: blur(0);
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pm-bottom-push-label .pm-copyright-link {
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 24px;
    top: -1px;
    color: #000!important
}

.pm-bottom-push-label .pm-copyright-link:hover {
    text-decoration: none
}

.pm-bottom-push-label .pm-copyright-link:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    margin: -10px 0 0
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1281px) and (max-width:1440px) {
    .pm-webpush-label.pm-macos.pm-chrome .pm-inner-content {
        right:calc(16% - 65px)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.5) and (max-width:1280px) {
    .pm-webpush-label.pm-windows.pm-chrome .pm-inner-content {
        right:calc(16% - 65px)
    }
}

.bottomBrandLink
{
	width: 100%;
    text-align: center;
    bottom: 50px;
    position: absolute;
    z-index: 1000002;
    font-family: 'arial',arial !important;
    font-weight: 700 !important;
    color: #000000 !important;
    font-size: 14px !important;
}
.bottomBrandLink .pm-copyright-link
{
	color: #f7f7f9  !important;	
}
.bottomBrandLink .pm-copyright-link .logoLetter
{
	color: #000;
	padding: 3px 7px 4px 7px;
}